@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1460px;
  padding: 0 60px;
  margin: 0 auto;
}

body {
  background-color: #161616;
  font-family: "Poppins", sans-serif;
  background-color: rgb(43, 43, 43);
  font-family: sans-serif;
}

.list_item {
  font-size: 14px;
  font-weight: 700px;
  color: white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 30px;
}

.header__list {
  display: flex;
  gap: 30px;
}

.season_btn {
  width: 109px;
  height: 45px;
  border-radius: 40px;
  background-color: white;
}

.moon_btn {
  padding: 14px 48px;
  border-radius: 30px;
  background-color: rgb(199, 94, 144);
  border: none;
  background-color: rgb(199, 94, 144);
  border-radius: 40px;
  width: 27px;
  height: 45px;
}

.header__list {
  margin-top: 30px;
}

.header_third {
  display: flex;
  gap: 20px;
}

.header__btn-2 {
  padding: 14px 48px;
  border-radius: 30px;
  background-color: rgb(199, 94, 144);
  border: none;
}

.crazy_corner {
  font-size: 14px;
  font-weight: 700px;
  color: white;
}

.header__third {
  display: flex;
  gap: 12px;
  align-items: center;
}

.all_in-one {
  width: 110px;
  height: 45px;
}

.hero {
  color: white;
}
.hero .hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero .hero__wrapper .first__hero .hero__header-text {
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.36em;
  padding: 30px 0px;
}
.hero .hero__wrapper .first__hero .hero__title {
  font-size: 46px;
  font-weight: 700;
  line-height: 69px;
  padding-bottom: 30px;
}
.hero .hero__wrapper .first__hero .hero__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.hero .hero__wrapper .first__hero .hero__btn {
  padding: 18px 40px;
  border: none;
  border-radius: 24px;
  background-color: #C75E90;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.hero .hero__wrapper .first__hero .hero__play {
  width: 498px;
  height: 175px;
  background-image: url("../assets/hero-play.png  ");
  background-size: cover;
  margin-top: 30px;
  position: relative;
}
.hero .hero__wrapper .first__hero .hero__play .play__watch {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
  margin-left: 20px;
}
.hero .hero__wrapper .first__hero .hero__play .play__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20px;
}
.hero .hero__wrapper .first__hero .hero__play .play__btn {
  position: absolute;
  top: calc(50% - 15px);
  right: -20px;
  font-size: 25px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  background-color: #C75E90;
  color: white;
}
.hero .hero__wrapper .second__hero {
  width: 470px;
  height: 470px;
  background-image: url("../assets/cat-and-girl.png");
  background-size: cover;
  position: relative;
}
.hero .hero__wrapper .second__hero img {
  width: 130px;
}
.hero .hero__wrapper .second__hero .hero__img1 {
  position: relative;
  top: 60px;
  left: -50px;
}
.hero .hero__wrapper .second__hero .hero__img2 {
  position: relative;
  top: 240px;
  left: -180px;
}
.hero .hero__wrapper .second__hero .hero__img3 {
  position: relative;
  bottom: -400px;
  left: 30px;
}
.hero .hero__wrapper .second__hero .hero__img4 {
  position: relative;
  bottom: -260px;
  left: 100px;
}
.hero .hero__wrapper > div {
  width: 40%;
}
.hero .contact {
  border-radius: 30px;
  margin-top: 60px;
  position: relative;
}
.hero .contact .contact__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero .contact .contact__wrapper .first__contact {
  padding: 40px 20px;
  width: 65%;
  background-color: #C75E90;
  border-radius: 30px;
}
.hero .contact .contact__wrapper .first__contact .bi {
  font-size: 28px;
  padding: 10px 16px;
  color: white;
  background-color: #8e345f;
  border-radius: 50%;
  margin-right: 10px;
}
.hero .contact .contact__wrapper .first__contact .little__location {
  margin-top: 14px;
}
.hero .contact .contact__wrapper .first__contact .contact__little-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.hero .contact .contact__wrapper .contact__little-wrapper {
  display: flex;
}
.hero .contact .contact__wrapper .second__contact {
  width: 800px;
  height: 140px;
  padding: 50px 50px;
  background-color: #8e345f;
  border-radius: 30px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  position: absolute;
  display: flex;
  gap: 160px;
  right: 0;
}
.hero .contact .contact__wrapper .second__contact .bi {
  font-size: 28px;
  padding: 10px 16px;
  color: white;
  background-color: #C75E90;
  border-radius: 50%;
  margin-right: 10px;
}
.hero .contact .contact__wrapper .second__contact .contact__little-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 10px;
}

.care__wrapper {
  display: flex;
  color: white;
  margin-top: 70px;
  gap: 30px;
}
.care__wrapper .care__same-cards {
  width: 25%;
}
.care__wrapper .care__starter-card {
  padding: 36px;
  background-color: #C75E90;
  border-radius: 40px;
}
.care__wrapper .care__starter-card .starter__card-toptext {
  color: black;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
  margin-top: 30px;
}
.care__wrapper .care__starter-card .starter__card-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  margin: 20px 0px;
}
.care__wrapper .care__starter-card .starter__card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.care__wrapper .care__starter-card .starter__card-btn {
  padding: 14px 48px;
  border-radius: 30px;
  background-color: #8e345f;
  border: none;
  width: 190px;
  margin-top: 40px;
  color: white;
}
.care__wrapper .care__other-cards {
  margin-top: 30px;
}
.care__wrapper .care__other-cards img {
  width: 100%;
}
.care__wrapper .care__other-cards .other__card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 14px;
}
.care__wrapper .care__other-cards .other__card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 15px;
  margin-left: 4px;
}

.img__divs {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.img__divs .same__imgs {
  width: 16%;
  height: 243px;
  background-size: cover;
  position: relative;
}
.img__divs .same__imgs .bi {
  padding: 10px 13px;
  background-color: #C75E90;
  color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -21px;
  right: 30px;
}
.img__divs .care__img1 {
  background-image: url("../assets/Cat/cat__1.png");
}
.img__divs .care__img2 {
  background-image: url("../assets/Cat/cat__2.png");
}
.img__divs .care__img3 {
  background-image: url("../assets/Cat/cat__3.png");
}
.img__divs .care__img4 {
  background-image: url("../assets/Cat/cat__4.png");
}
.img__divs .care__img5 {
  background-image: url("../assets/Cat/cat__5.png");
}
.img__divs .care__img6 {
  background-image: url("../assets/Cat/cat__6.png");
}

.book {
  color: white;
  margin-top: 50px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.462);
  border-radius: 40px;
}
.book .book__beauty-text {
  color: #696969;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
}
.book .book__title {
  text-align: center;
  margin: 20px 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.book .text__center {
  width: 1130px;
  margin: 0 auto;
  text-align: center;
}
.book .form__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.book .form__input-wrapper .form__input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.book .input-container {
  position: relative;
  width: 100%;
}
.book .half__input {
  width: 98%;
  padding: 25px 20px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 16px;
}
.book .half__input::-moz-placeholder {
  color: white;
  position: relative;
  top: 4px;
  font-size: 16px;
}
.book .half__input::placeholder {
  color: white;
  position: relative;
  top: 4px;
  font-size: 16px;
}
.book .input-label {
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 12px;
  font-weight: 700;
  color: gray;
  letter-spacing: 0.1em;
}
.book .big__in-con {
  width: calc(100% + 10px);
  margin-top: 30px;
}
.book .form__submit {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: rgb(199, 94, 144);
  border: none;
  width: 200px;
  color: white;
}
.book .center__btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.big_cat {
  width: 576px;
  height: 571px;
}

.big_cat-wrapper {
  display: flex;
  justify-content: space-between;
}

.mini_text {
  font-size: 14px;
  font-weight: 700;
  color: white;
  color: rgb(105, 105, 105);
  line-height: 18px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
}

.main_heding {
  font-size: 14px;
  font-weight: 700px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

.room_heding {
  padding: 28px 0px;
}

.section_room {
  margin-top: 70px;
}

.room_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.room_wrapper > div {
  width: 50%;
}

.chevron_up-wrapper {
  display: flex;
  gap: 36px;
}

.chevron_up {
  background: rgb(199, 94, 144);
  border-radius: 50%;
}

.nekoon_text {
  width: 568px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  color: rgb(255, 255, 255);
}

.nekoon_wrapper {
  position: relative;
  left: 70px;
}

.first_line {
  border: 2px solid rgba(128, 128, 128, 0.13);
  margin-top: 35px;
}

.second_wrapper {
  display: flex;
  gap: 12px;
  margin-top: 34px;
}

.chevron_down {
  margin-top: -10px;
  background: rgb(199, 94, 144);
  border-radius: 50%;
}

.potent_corner {
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.celebrate {
  margin-top: 50px;
  color: white;
}
.celebrate .celebrate__useless-p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
  color: rgb(105, 105, 105);
}
.celebrate .celebrate__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin: 20px 0px;
}
.celebrate .center__celebrate-div {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.celebrate .center__celebrate-div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.celebrate .celebrate__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.celebrate .first__celebrate {
  width: 33%;
  padding: 50px;
  background-color: rgb(22, 22, 22);
  border-radius: 20px;
  margin-top: 60px;
}
.celebrate .first__celebrate .celebrate__card-text {
  margin: 30px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.celebrate .first__celebrate .celebrate__card-wrapper {
  display: flex;
  gap: 13px;
}
.celebrate .first__celebrate .second__user-name {
  margin-top: 20px;
}

.pricing-section {
  text-align: center;
  padding: 3rem;
  color: #fff;
  margin-top: 67px;
}
.pricing-section h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: gray;
  letter-spacing: 4px;
}
.pricing-section h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.pricing-section p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #cccccc;
}
.pricing-section .pricing-cards {
  display: flex;
  justify-content: center;
  height: 500px;
  border-radius: 5px;
  align-items: center;
  margin-top: 100px;
}
.pricing-section .pricing-cards .card:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: black;
  height: 480px;
}
.pricing-section .pricing-cards .card:nth-child(3) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: black;
  height: 480px;
}
.pricing-section .pricing-cards .featured {
  height: 577px;
  background-color: #e57399;
}
.pricing-section .pricing-cards .featured ul {
  justify-content: space-evenly;
}
.pricing-section .pricing-cards .featured ul li {
  margin-top: 40px;
}
.pricing-section .pricing-cards .featured button {
  background-color: #e57399;
  margin-top: 90px;
}
.pricing-section .pricing-cards .card {
  width: 444px;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border: none;
  position: relative;
}
.pricing-section .pricing-cards .card i {
  position: absolute;
  right: calc(0% + 40px);
  font-size: 50px;
}
.pricing-section .pricing-cards .card h2 {
  font-size: 1.5rem;
  color: #e57399;
  text-align: center;
}
.pricing-section .pricing-cards .card .price {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  align-items: last baseline;
}
.pricing-section .pricing-cards .card .price span {
  display: block;
  font-size: 0.8rem;
  color: #aaaaaa;
}
.pricing-section .pricing-cards .card ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pricing-section .pricing-cards .card ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: white;
  line-height: 21px;
  margin: 0.5rem 0;
}
.pricing-section .pricing-cards .card ul li::before {
  content: "✔️";
  color: #e57399;
}/*# sourceMappingURL=style.css.map */