.footer {
  padding: 50px;
  background-color: #161616;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-top: 100px;
  color: white;
  .footer__first-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .footer__second-wrapper_wrapper {
      position: relative;
    }
    .footer__first-wrapper_wrapper {
      display: flex;
      gap: 20px;
      p {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.36em;
        color: #696969;
        margin-bottom: 16px;
        margin-top: 10px;
      }
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
      }
    }
    input {
      width: 530px;
      padding: 20px 20px;
      border-radius: 30px;
      margin-top: 20px;
      border: 2px solid #ffffff;
      background-color: transparent;
      letter-spacing: 0.1em;
      display: inline-block;
    }
    input::placeholder {
      color: white;
    }
    .bi {
      position: relative;
      padding: 13px;
      top: 1px;
      background-color: #c75e90;
      margin-left: -50px;
      letter-spacing: 0.1em;
      display: inline-block;
      border-radius: 50%;
    }
    .input-container {
      display: inline-block;
    }
    .input-label {
      position: absolute;
      top: 25px;
      left: 30px;
      font-size: 12px;
      font-weight: 700;
      color: gray;
      letter-spacing: 0.1em;
      display: inline-block;
    }
  }
  .footer__hr {
    background-color: #80808021;
    border-color: #80808021;
    margin-bottom: 50px;
  }
  .footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    .footer__first_wrapper {
      display: flex;
      gap: 20px;
      .footer__first_first {
        margin-top: 20px;
        display: inline-block;
        i {
          background-color: $main-color;
          padding: 14px;
          border-radius: 50%;
          font-size: 24px;
        }
      }
      .footer__first_second {
        margin-top: 10px;
        p {
          margin-top: 20px;
        }
      }
    }
    .second__footer-wrapper {
      gap: 80px;
      display: flex;
      padding: 40px;
      .first__second {
        a {
          display: block;
          margin-top: 20px;
          color: white;
        }
      }
      .second__second {
        i {
          padding: 10px;
          font-size: 15px;
          background-color: $main-color;
          border-radius: 50%;
          color: #161616;
        }
      }
    }
  }
  .footer_last-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.26em;
  }
}
